.mlogin-btn {
  background-color: #20459c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='64' fill='none'%3E%3Cpath fill='url(%23a)' d='M-200-2v69H28.165c29.496-13.169 62.79-25.68 100.367-37.101C159.393 20.519 185.771 9.764 208.253-2H-200Z'/%3E%3Cpath fill='url(%23b)' d='M520 55.427V67H257.146a124.013 124.013 0 0 1 12.952-9.497C309.658 32.21 392.958 31.518 520 55.427Z'/%3E%3Cpath fill='url(%23c)' d='M520 19.382V67H173.235C282.562 7.918 449.758 13.712 520 19.382Z' opacity='.673'/%3E%3Cpath fill='url(%23d)' d='M314.35 67c-1.3-2.1-2.6-4.227-3.9-6.382C296.92 38.195 283.822 17.359 271.171-2H520v69H314.35Z' opacity='.562'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='-44.601' x2='519.064' y1='422.886' y2='126.463' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%239D61FD'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='139.858' x2='354.416' y1='-20.996' y2='218.286' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='636.93' x2='522.634' y1='.714' y2='-165.707' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='153.697' x2='291.245' y1='-93.973' y2='169.623' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%239D61FD'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 2px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  min-width: 310px;
  font-size: 22px;
  transition: background-color 0.3s ease-in-out;
}

.mlogin-btn span {
  color: white;
  text-align: center;
  width: 100%;
}

.mlogin-btn:hover {
  background-color: #2c64e6;
}

.mlogin-btn:active {
  background-color: #2c64e6;
}

.mlogin-btn:focus {
  outline: 2px solid #2c64e6;
  outline-offset: 3px;
}

.mlogin-btn::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none'%3E%3Crect width='60' height='60' fill='url(%23a)' rx='2'/%3E%3Cpath fill='url(%23b)' d='M8.863 42.91h6.47l8.01-13.88v13.88h6.932l8.628-13.88v13.88h6.779V17h-6.776L30.28 31.956V17h-7.087L8.863 42.91Z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='31.718' x2='-25.923' y1='-20.666' y2='31.18' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E3FDF5'/%3E%3Cstop offset='1' stop-color='%23FFE6FA'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='19.439' x2='48.824' y1='48.603' y2='24.614' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  display: block;
  width: 60px;
  height: 60px;
}

.mlogin-btn--small {
  font-size: 17px;
  min-width: 240px;
}

.mlogin-btn--small::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' fill='none'%3E%3Crect width='44' height='44' fill='url(%23a)' rx='2'/%3E%3Cpath fill='url(%23b)' d='M6.5 32h4.745l5.873-10.178V32h5.084l6.327-10.178V32H33.5V13h-4.968l-6.327 10.968V13h-5.198L6.5 32Z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='23.26' x2='-19.01' y1='-15.155' y2='22.865' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E3FDF5'/%3E%3Cstop offset='1' stop-color='%23FFE6FA'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='14.256' x2='35.805' y1='36.176' y2='18.584' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  width: 44px;
  height: 44px;
}

.mlogin-btn--secondary {
  background-image: linear-gradient(228.03deg, #ffe6fa 8.51%, #e3fdf5 100%);
}

.mlogin-btn--secondary span {
  color: #2c64e6;
}

.mlogin-btn--secondary::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Crect width='60' height='60' fill='url(%23b)' rx='2'/%3E%3Cpath fill='url(%23c)' d='M45.147-40.98s16.581 36.937-19.36 51.863C-10.156 25.81-2.094 49.095-2.094 49.095V-40.98h47.24Z'/%3E%3Cpath fill='url(%23d)' d='M39.002 47.495c-6.086 11.32-16.58 36.937 19.361 51.863 35.942 14.927 27.88 38.212 27.88 38.212V47.495s-41.155-11.322-47.24 0Z'/%3E%3Cpath fill='url(%23e)' d='M62.803 20.991S19.566-4.222 19.833 89.877c.267 94.1-25.995 84.052-25.995 84.052l88.617-37.404L62.803 20.991Z' opacity='.673'/%3E%3Cpath fill='url(%23f)' d='M80.055 43.91s-27.017 51.158-54.16-23.558C-1.25-54.365-19.19-27.463-19.19-27.463l81.27-34.303L80.054 43.911Z' opacity='.65'/%3E%3Cpath fill='%23fff' d='M8.863 42.91h6.47l8.01-13.88v13.88h6.932l8.628-13.88v13.88h6.779V17h-6.776L30.28 31.956V17h-7.087L8.863 42.91Z'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='0' x2='60' y1='60' y2='60' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='11.927' x2='76.088' y1='68.891' y2='46.814' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%239D61FD'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='102.248' x2='45.596' y1='24.974' y2='62.26' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' x1='66.764' x2='26.208' y1='71.957' y2='57.968' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' x1='16.383' x2='65.212' y1='7.263' y2='27.978' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%239D61FD'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Crect width='60' height='60' fill='%23fff' rx='2'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
  width: 60px;
  height: 60px;
}

.mlogin-btn--small.mlogin-btn--secondary::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Crect width='44' height='44' fill='url(%23b)' rx='1.467'/%3E%3Cpath fill='url(%23c)' d='M33.108-30.053S45.268-2.966 18.91 7.981C-7.447 18.927-1.535 36.003-1.535 36.003v-66.056h34.643Z'/%3E%3Cpath fill='url(%23d)' d='M28.602 34.829C24.139 43.13 16.442 61.916 42.8 72.862c26.357 10.947 20.445 28.022 20.445 28.022V34.829s-30.18-8.302-34.643 0Z'/%3E%3Cpath fill='url(%23e)' d='M46.056 15.395S14.349-3.095 14.544 65.91c.196 69.006-19.063 61.638-19.063 61.638l64.986-27.43-14.411-84.725Z' opacity='.673'/%3E%3Cpath fill='url(%23f)' d='M58.707 32.201S38.895 69.717 18.989 14.924C-.916-39.868-14.073-20.14-14.073-20.14l59.597-25.155 13.183 77.496Z' opacity='.65'/%3E%3Cpath fill='%23fff' d='M6.5 31.467h4.745l5.873-10.178v10.178h5.084l6.327-10.178v10.178H33.5v-19h-4.968l-6.327 10.968V12.467h-5.198l-10.507 19Z'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='0' x2='44' y1='44' y2='44' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='8.747' x2='55.798' y1='50.52' y2='34.33' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%239D61FD'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='74.982' x2='33.437' y1='18.314' y2='45.657' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' x1='48.961' x2='19.219' y1='52.77' y2='42.511' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%230069FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' x1='12.014' x2='47.822' y1='5.326' y2='20.517' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2327569A'/%3E%3Cstop offset='1' stop-color='%239D61FD'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Crect width='44' height='44' fill='%23fff' rx='1.467'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  width: 44px;
  height: 44px;
}

/* just for demo */

.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
