<div class="infographic">
	<div class="row">
		<div class="col-lg-4 col-md-12">
			<div class="info-object">
				<i class="bi bi-calendar2-event-fill"></i>
				<h3 class="counter" data-endcount="100000" aria-label="100000" style="--num: 100000;"></h3>
				<p>Online-Termine in der Verwaltung pro Monat</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-12">
			<div class="info-object">
				<i class="bi bi-arrow-repeat"></i>
				<h3 class="counter" data-endcount="3270" aria-label="100000" style="--num: 3270;"></h3>
				<p>Vergaben seit Start der eVergabe</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-12">
			<div class="info-object">
				<i class="bi bi-wifi"></i>
				<h3 class="counter" data-endcount="300" aria-label="100000" style="--num: 300;"></h3>
				<p>M-WLAN Standorte</p>
			</div>
		</div>
	</div>
</div>
