<section class="content-section">
	<div class="container">
		Some Content
	</div>
</section>

<section class="content-section content-section--blue">
	<div class="container">
		Some Content
	</div>
</section>

<section class="content-section content-section--green">
	<div class="container">
		Some Content
	</div>
</section>

<section class="content-section content-section--turquoise">
	<div class="container">
		Some Content
	</div>
</section>
