<div class="intro intro--event">
	<div class="container">
		<h1 class="intro__heading">Digitalisierungsstrategie</h1>
		<span class="intro__date">5. April 2023, 15 Uhr |
			<a href="#">Online-Event</a>
		</span>
		<div class="intro__text">
			<p>Die Digitalisierungsstrategie der Landeshauptstadt M체nchen tr채gt das Leitmotiv M체nchen. Digital. Erleben. Erfahren Sie mehr 체ber ihre Vision, Mission und Pinzipien.</p>
		</div>
	</div>
</div>
