<div class="teaser-hero">
	<img src="https://picsum.photos/1400/700" alt="Alt Text">
	<div class="container">
		<div class="teaser-hero__text">
			<h3>Digitalisierung M체nchens</h3>
			<p>Die Digitalisierungsstrategie der Landeshauptstadt M체nchen tr채gt das Leitmotiv M체nchen. Digital. Erleben.  Lorem Ipsum.</p>
			<a href="#">Strategie entdecken</a>
		</div>
	</div>
</div>
