<div class="container">
	<div class="text-asset">
		<h2>Headline H2</h2>
		<div class="text-asset__richtext">
			<p>Der Digitale Zwilling ist das digitale Herzstück der Zukunftsstadt München. Damit kann den Herausforderungen der Smart City München mit innovativen Lösungen begegnet werden. Die Urban Data Platform stellt dabei die zentrale Datendrehscheibe des Digitalen Zwillings dar. Mit ihr werden ehemals separierte Insellösungen zu einem gemeinsamen Ökosystem der Stadt vernetzt.</p>
			<p>Die Stadtverwaltung kann damit ihre Prozesse digitalisieren und erhält Innovationsräume, um neue Wege beschreiten zu können. Veränderungen werden im Vorfeld visualisiert und Bürgerinnen und Bürger sind besser in Entscheidungen eingebunden.</p>
		</div>
	</div>

	<div class="text-asset text-asset--small">
		<h2>Headline H2</h2>
		<div class="text-asset__richtext">
			<figure class="figure float-right">
				<img src="https://picsum.photos/800/600" class="figure-img img-fluid" alt="Alt Text">
				<figcaption class="figure-caption">
					<span>Foto: Bildrechte Max Mustermann</span>
					<span>Bildunterschrift (optional) Lorem Ipsum dolor Sit</span>
				</figcaption>
			</figure>
			<p>Der Digitale Zwilling ist das digitale Herzstück der Zukunftsstadt München. Damit kann den Herausforderungen der Smart City München mit innovativen Lösungen begegnet werden. Die Urban Data Platform stellt dabei die zentrale Datendrehscheibe des Digitalen Zwillings dar. Mit ihr werden ehemals separierte Insellösungen zu einem gemeinsamen Ökosystem der Stadt vernetzt.</p>
			<p>Die Stadtverwaltung kann damit ihre Prozesse digitalisieren und erhält Innovationsräume, um neue Wege beschreiten zu können. Veränderungen werden im Vorfeld visualisiert und Bürgerinnen und Bürger sind besser in Entscheidungen eingebunden.</p>
			<p>Dolore dolor dolore enim sint aliquip proident. Nulla nostrud ullamco laboris esse. Esse dolor qui velit do. Eu cupidatat labore aliquip tempor consequat duis. Excepteur eiusmod reprehenderit qui ex commodo cupidatat magna labore. Est excepteur sint do adipisicing. Dolore dolor dolore enim sint aliquip proident. Nulla nostrud ullamco laboris esse. Esse dolor qui velit do. Eu cupidatat labore aliquip tempor consequat duis. Excepteur eiusmod reprehenderit qui ex commodo cupidatat magna labore. Est excepteur sint do adipisicing.</p>
		</div>
	</div>

	<div class="text-asset text-asset--small">
		<h2>Headline H2</h2>
		<div class="text-asset__richtext">
			<figure class="figure float-left">
				<img src="https://picsum.photos/700/600" class="figure-img img-fluid" alt="Alt Text">
				<figcaption class="figure-caption">
					<span>Foto: Bildrechte Max Mustermann</span>
					<span>Bildunterschrift (optional) Lorem Ipsum dolor Sit</span>
				</figcaption>
			</figure>
			<p>Der Digitale Zwilling ist das digitale Herzstück der Zukunftsstadt München. Damit kann den Herausforderungen der Smart City München mit innovativen Lösungen begegnet werden. Die Urban Data Platform stellt dabei die zentrale Datendrehscheibe des Digitalen Zwillings dar. Mit ihr werden ehemals separierte Insellösungen zu einem gemeinsamen Ökosystem der Stadt vernetzt.</p>
			<p>Die Stadtverwaltung kann damit ihre Prozesse digitalisieren und erhält Innovationsräume, um neue Wege beschreiten zu können. Veränderungen werden im Vorfeld visualisiert und Bürgerinnen und Bürger sind besser in Entscheidungen eingebunden.</p>
			<p>Dolore dolor dolore enim sint aliquip proident. Nulla nostrud ullamco laboris esse. Esse dolor qui velit do. Eu cupidatat labore aliquip tempor consequat duis. Excepteur eiusmod reprehenderit qui ex commodo cupidatat magna labore. Est excepteur sint do adipisicing. Dolore dolor dolore enim sint aliquip proident. Nulla nostrud ullamco laboris esse. Esse dolor qui velit do. Eu cupidatat labore aliquip tempor consequat duis. Excepteur eiusmod reprehenderit qui ex commodo cupidatat magna labore. Est excepteur sint do adipisicing.</p>
		</div>
	</div>

	<div class="text-asset text-asset--medium">
		<h2>Headline H2</h2>
		<div class="text-asset__richtext">
			<figure class="figure">
				<img src="https://picsum.photos/1200/600" class="figure-img img-fluid " alt="Alt Text">
				<figcaption class="figure-caption">
					<span>Foto: Bildrechte Max Mustermann</span>
					<span>Bildunterschrift (optional) Lorem Ipsum dolor Sit</span>
				</figcaption>
			</figure>
			<p>Der Digitale Zwilling ist das digitale Herzstück der Zukunftsstadt München. Damit kann den Herausforderungen der Smart City München mit innovativen Lösungen begegnet werden. Die Urban Data Platform stellt dabei die zentrale Datendrehscheibe des Digitalen Zwillings dar. Mit ihr werden ehemals separierte Insellösungen zu einem gemeinsamen Ökosystem der Stadt vernetzt.</p>
			<p>Die Stadtverwaltung kann damit ihre Prozesse digitalisieren und erhält Innovationsräume, um neue Wege beschreiten zu können. Veränderungen werden im Vorfeld visualisiert und Bürgerinnen und Bürger sind besser in Entscheidungen eingebunden.</p>
		</div>
	</div>

</div>
