<blockquote class="quote ">
	<p class="quote__text">Als Bürgermeisterin freue ich mich über dieses digitale Abbild unserer innovativen Stadt München. Alle Dienststellen der Stadtverwaltung können dazu etwas beitragen und alle profitieren davon - letzten Endes besonders unsere Bürgerinnen und Bürger. Ein echtes Gemeinschaftswerk, mit dem wir die Digitalisierung zum Wohl unserer Stadt gestalten. Und virtuell können wir dann gemeinsam Dinge austesten, die uns in der realen Welt weiterhelfen.</p>
	<footer class="quote__author">
		<img src="https://placehold.co/600x400" alt="Verena Dietl">
		<div>
			<strong>Verena Dietl</strong>
			<span>3. Bürgermeisterin</span>
		</div>
	</footer>
</blockquote>
