<div class="container">
	<div class="row teaser-collection">
		<div class="col-lg-4 col-md-12 col-sm-12">
			<div class="teaser teaser--image">
				<a href="#">
					<span class="screen-reader-text">Komponenten</span>
				</a>
				<div class="head">
					<img src="https://picsum.photos/600/500" alt="Teaser Image">
				</div>
				<div class="content">
					<h3>Komponenten</h3>
					<p>Gemeinsam mit den dahinter liegenden Serverkomponeneten mit der Geodaten- und Sernsordateninfrastruktur ist das das Masterportal das Herzstück des Digitalen Zwillings. Lorem Ipsum dolor sit. Entdecken Sie das Masterportal, unser Schaufenster nach außen.</p>
					<a href="#" class="hexalink">
						<span class="bi bi-arrow-right-short"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 col-sm-12">
			<div class="teaser teaser--image">
				<a href="#">
					<span class="screen-reader-text">Daten</span>
				</a>
				<div class="head">
					<img src="https://picsum.photos/800/800" alt="Teaser Image">
				</div>
				<div class="content">
					<h3>Daten</h3>
					<p>Grundlage für den Digitalen Zwilling München sind detaillierte Geodaten. Diese stehen in 2D und als 3D-Stadtmodell zur Verfügung. Erfahren Sie mehr über die Urban Data Plattform in unserem Beitrag.</p>
					<a href="#" class="hexalink">
						<span class="bi bi-arrow-right-short"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 col-sm-12">
			<div class="teaser teaser--image">
				<a href="#">
					<span class="screen-reader-text">Anwendungsbeispiele</span>
				</a>
				<div class="head">
					<img src="https://picsum.photos/800/600" alt="Teaser Image">
				</div>
				<div class="content">
					<h3>Anwendungsbeispiele</h3>
					<p>Viele Projekte zur Entwicklung neuer Konzepte für München haben das Problem, dass die Beschaffung und Integration realer Daten der Stadt einen enormen Aufwand bedeuten. Dies kann mit dem Digitalen Zwilling München enorm verschlankt werden.</p>
					<a href="#" class="hexalink">
						<span class="bi bi-arrow-right-short"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

</div>
