<div class="accordion accordion--turquoise" id="accordionaccordionOne">
	<h3>Accordion Title 1</h3>
	<div class="accordion-item">
		<h3 class="accordion-header" id="columnOne">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionaccordionOnecolumnOne" aria-expanded="true" aria-controls="accordionaccordionOnecolumnOne">
				Accordion Item 1
			</button>
		</h3>
		<div id="accordionaccordionOnecolumnOne" class="accordion-collapse collapse " aria-labelledby="accordionaccordionOne" data-bs-parent="#accordionaccordionOne">
			<div class="accordion-body">
				<p>Ullamco minim reprehenderit proident tempor mollit culpa tempor exercitation nostrud laboris non in velit. Ullamco qui consectetur id duis
					<a href="">cupidatat reprehenderit excepteur</a>. Nisi magna excepteur aute pariatur aliquip et nisi eu Lorem id velit ea incididunt consectetur. Consequat culpa ea ad velit enim id ut.
					<strong>Tempor ut adipisicing</strong>
					et proident veniam proident qui irure velit commodo. Enim esse sint ut consequat culpa id nisi magna eiusmod. Exercitation consequat fugiat occaecat sit culpa incididunt consequat excepteur id incididunt eu. Do excepteur id irure consequat anim dolore ea cupidatat qui.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h3 class="accordion-header" id="columnTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionaccordionOnecolumnTwo" aria-expanded="true" aria-controls="accordionaccordionOnecolumnTwo">
				Accordion Item 2
			</button>
		</h3>
		<div id="accordionaccordionOnecolumnTwo" class="accordion-collapse collapse " aria-labelledby="accordionaccordionOne" data-bs-parent="#accordionaccordionOne">
			<div class="accordion-body">
				<div class="accordion-body">
					<p>Ullamco minim reprehenderit proident tempor mollit culpa tempor exercitation nostrud laboris non in velit. Ullamco qui consectetur id duis
						<a href="">cupidatat reprehenderit excepteur</a>. Nisi magna excepteur aute pariatur aliquip et nisi eu Lorem id velit ea incididunt consectetur. Consequat culpa ea ad velit enim id ut.
						<strong>Tempor ut adipisicing</strong>
						et proident veniam proident qui irure velit commodo. Enim esse sint ut consequat culpa id nisi magna eiusmod. Exercitation consequat fugiat occaecat sit culpa incididunt consequat excepteur id incididunt eu. Do excepteur id irure consequat anim dolore ea cupidatat qui.</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="accordion accordion--blue" id="accordionaccordionTwo">
	<h3>Accordion Title 2</h3>
	<div class="accordion-item">
		<h3 class="accordion-header" id="columnOne">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionaccordionTwocolumnOne" aria-expanded="true" aria-controls="accordionaccordionTwocolumnOne">
				Accordion Item 1
			</button>
		</h3>
		<div id="accordionaccordionTwocolumnOne" class="accordion-collapse collapse " aria-labelledby="accordionaccordionTwo" data-bs-parent="#accordionaccordionTwo">
			<div class="accordion-body">
				<p>Ullamco minim reprehenderit proident tempor mollit culpa tempor exercitation nostrud laboris non in velit. Ullamco qui consectetur id duis
					<a href="">cupidatat reprehenderit excepteur</a>. Nisi magna excepteur aute pariatur aliquip et nisi eu Lorem id velit ea incididunt consectetur. Consequat culpa ea ad velit enim id ut.
					<strong>Tempor ut adipisicing</strong>
					et proident veniam proident qui irure velit commodo. Enim esse sint ut consequat culpa id nisi magna eiusmod. Exercitation consequat fugiat occaecat sit culpa incididunt consequat excepteur id incididunt eu. Do excepteur id irure consequat anim dolore ea cupidatat qui.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h3 class="accordion-header" id="columnTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionaccordionTwocolumnTwo" aria-expanded="true" aria-controls="accordionaccordionTwocolumnTwo">
				Accordion Item 2
			</button>
		</h3>
		<div id="accordionaccordionTwocolumnTwo" class="accordion-collapse collapse " aria-labelledby="accordionaccordionTwo" data-bs-parent="#accordionaccordionTwo">
			<div class="accordion-body">
				<div class="accordion-body">
					<p>Ullamco minim reprehenderit proident tempor mollit culpa tempor exercitation nostrud laboris non in velit. Ullamco qui consectetur id duis
						<a href="">cupidatat reprehenderit excepteur</a>. Nisi magna excepteur aute pariatur aliquip et nisi eu Lorem id velit ea incididunt consectetur. Consequat culpa ea ad velit enim id ut.
						<strong>Tempor ut adipisicing</strong>
						et proident veniam proident qui irure velit commodo. Enim esse sint ut consequat culpa id nisi magna eiusmod. Exercitation consequat fugiat occaecat sit culpa incididunt consequat excepteur id incididunt eu. Do excepteur id irure consequat anim dolore ea cupidatat qui.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="accordion accordion--green" id="accordionaccordionThree">
	<h3>Accordion Title 3</h3>
	<div class="accordion-item">
		<h3 class="accordion-header" id="columnOne">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionaccordionThreecolumnOne" aria-expanded="true" aria-controls="accordionaccordionThreecolumnOne">
				Accordion Item 1
			</button>
		</h3>
		<div id="accordionaccordionThreecolumnOne" class="accordion-collapse collapse " aria-labelledby="accordionaccordionThree" data-bs-parent="#accordionaccordionThree">
			<div class="accordion-body">
				<p>Ullamco minim reprehenderit proident tempor mollit culpa tempor exercitation nostrud laboris non in velit. Ullamco qui consectetur id duis
					<a href="">cupidatat reprehenderit excepteur</a>. Nisi magna excepteur aute pariatur aliquip et nisi eu Lorem id velit ea incididunt consectetur. Consequat culpa ea ad velit enim id ut.
					<strong>Tempor ut adipisicing</strong>
					et proident veniam proident qui irure velit commodo. Enim esse sint ut consequat culpa id nisi magna eiusmod. Exercitation consequat fugiat occaecat sit culpa incididunt consequat excepteur id incididunt eu. Do excepteur id irure consequat anim dolore ea cupidatat qui.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h3 class="accordion-header" id="columnTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionaccordionThreecolumnTwo" aria-expanded="true" aria-controls="accordionaccordionThreecolumnTwo">
				Accordion Item 2
			</button>
		</h3>
		<div id="accordionaccordionThreecolumnTwo" class="accordion-collapse collapse " aria-labelledby="accordionaccordionThree" data-bs-parent="#accordionaccordionThree">
			<div class="accordion-body">
				<div class="accordion-body">
					<p>Ullamco minim reprehenderit proident tempor mollit culpa tempor exercitation nostrud laboris non in velit. Ullamco qui consectetur id duis
						<a href="">cupidatat reprehenderit excepteur</a>. Nisi magna excepteur aute pariatur aliquip et nisi eu Lorem id velit ea incididunt consectetur. Consequat culpa ea ad velit enim id ut.
						<strong>Tempor ut adipisicing</strong>
						et proident veniam proident qui irure velit commodo. Enim esse sint ut consequat culpa id nisi magna eiusmod. Exercitation consequat fugiat occaecat sit culpa incididunt consequat excepteur id incididunt eu. Do excepteur id irure consequat anim dolore ea cupidatat qui.</p>
				</div>
			</div>
		</div>
	</div>
</div>
