{% include './lhm-header.twig' %}
<div class="container">
	{% include './lhm-breadcrumb.twig' %}
</div>
{% include './lhm-intro-home.twig' %}
{% include './lhm-teaser-hero.twig' %}
<main id="main-content">
	<section class="content-section content-section--turquoise">
		<div class="section-title-container container">
			<div class="section-title" style="text-align:center">
				<h2>Neuigkeiten zur Digitalisierung</h2>
			</div>
		</div>
		<div class="container">
			<div class="row teaser-collection">
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="teaser teaser--image">
						<a href="#">
							<span class="screen-reader-text">Komponenten</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/600/500" alt="Teaser Image">
						</div>
						<div class="content">
							<h3>Komponenten</h3>
							<p>Gemeinsam mit den dahinter liegenden Serverkomponeneten mit der Geodaten- und Sernsordateninfrastruktur ist das das Masterportal das Herzstück des Digitalen Zwillings. Lorem Ipsum dolor sit. Entdecken Sie das Masterportal, unser Schaufenster nach außen.</p>
							<a href="#" class="hexalink">
								<span class="bi bi-arrow-right-short"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="teaser teaser--image">
						<a href="#">
							<span class="screen-reader-text">Daten</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/800/800" alt="Teaser Image">
						</div>
						<div class="content">
							<h3>Daten</h3>
							<p>Grundlage für den Digitalen Zwilling München sind detaillierte Geodaten. Diese stehen in 2D und als 3D-Stadtmodell zur Verfügung. Erfahren Sie mehr über die Urban Data Plattform in unserem Beitrag.</p>
							<a href="#" class="hexalink">
								<span class="bi bi-arrow-right-short"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="teaser teaser--image">
						<a href="#">
							<span class="screen-reader-text">Anwendungsbeispiele</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/800/600" alt="Teaser Image">
						</div>
						<div class="content">
							<h3>Anwendungsbeispiele</h3>
							<p>Viele Projekte zur Entwicklung neuer Konzepte für München haben das Problem, dass die Beschaffung und Integration realer Daten der Stadt einen enormen Aufwand bedeuten. Dies kann mit dem Digitalen Zwilling München enorm verschlankt werden.</p>
							<a href="#" class="hexalink">
								<span class="bi bi-arrow-right-short"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="button-wrapper primary">
				<a href="#" class="button " target="_blank">
					Alle Meldungen ansehen
				</a>
			</div>
		</div>
	</section>
	<section class="content-section content-section--blue">
		<div class="section-title-container container">
			<div class="section-title" style="text-align:center">
				<h2>Neuigkeiten zur Digitalisierung</h2>
			</div>
		</div>
		<div class="container">
			<div class="row teaser-collection">
				<div class="col-sm-12">
					<div class="teaser teaser--event">
						<a href="#">
							<span class="screen-reader-text">Open Data Community trifft Verwaltung</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/600/400" alt="Teaser Image">
						</div>
						<div class="content">
							<h3>Ein Jahr neues Arbeiten im Multispace</h3>
							<span class="teaser__date">4. März 2023 |  Rathaus München</span>
							<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="teaser teaser--event">
						<a href="#">
							<span class="screen-reader-text">Learn@Lunch: ChatGPT und digitale Kompetenzen</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/800/400" alt="Teaser Image">
						</div>
						<div class="content">
							<h3>Ein Jahr neues Arbeiten im Multispace</h3>
							<span class="teaser__date">4. März 2023 |  Rathaus München</span>
							<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="button-wrapper primary">
				<a href="#" class="button " target="_blank">
					Alle Veranstaltugen ansehen
				</a>
			</div>
		</div>
	</section>
	<section class="content-section">
		<div class="container">
			<div class="row teaser teaser--text">
				<div class="col-sm-12 col-md-4">
					<img src="https://picsum.photos/600/400" alt="">
				</div>
				<div class="col-sm-12 col-md-8">
					<div class="richtext">
						<h2>Digitalradar: Maßnahmen im Überblick</h2>
						<p>
							Der Digitalisierungsradar ist das zentrale Digitalisierungs-Dashboard der Stadt München. Entdecken Sie die Ziele und alle 67 Maßnahmen der Digitalisierungsstrategie in den 9 Handlungsfeldern sowie ihren Fortschritt auf einen Blick.
						</p>
					</div>
					<div class="button-wrapper secondary" style="text-align: left">
						<a href="#" class="button " target="_blank">
							Handlungsfelder ansehen
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content-section content-section--green">
		<div class="section-title-container container">
			<div class="section-title" style="text-align:center">
				<h2>Digitalisierungsprojekte</h2>
			</div>
		</div>
		<div class="container">
			<div data-masonry='{"percentPosition": true }' class="row teaser-collection">
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="teaser teaser--image">
						<a href="#">
							<span class="screen-reader-text">Digitaler Zwilling</span>
						</a>
						<div class="content">
							<h3>Digitaler Zwilling</h3>
							<p>Der Digitale Zwilling München ist ein auf Daten basierendes, virtuelles Abbild unserer Stadt. Diese digitale Kopie ermöglicht es, den Einsatz neuer Lösungen zu simulieren.</p>
							<a href="#" class="hexalink">
								<span class="bi bi-arrow-right-short"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="teaser teaser--image">
						<a href="#">
							<span class="screen-reader-text">Projekt Lorem Ipsum</span>
						</a>
						<div class="content">
							<h3>Projekt Lorem Ipsum</h3>
							<p>Teaser-Text (gleich Intro-Text) für die Projektseite. Um die 150 Zeichen. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							</p>
							<a href="#" class="hexalink">
								<span class="bi bi-arrow-right-short"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="teaser teaser--image">
						<a href="#">
							<span class="screen-reader-text">Noch ein Projekt</span>
						</a>
						<div class="content">
							<h3>Noch ein Projekt</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							<a href="#" class="hexalink">
								<span class="bi bi-arrow-right-short"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="teaser teaser--image">
						<a href="#">
							<span class="screen-reader-text">Projekt aus der Praxis</span>
						</a>
						<div class="content">
							<h3>Projekt aus der Praxis</h3>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
							<a href="#" class="hexalink">
								<span class="bi bi-arrow-right-short"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="teaser teaser--image">
						<a href="#">
							<span class="screen-reader-text">Ein tolles Digitalprojekt</span>
						</a>
						<div class="content">
							<h3>Ein tolles Digitalprojekt</h3>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
							<a href="#" class="hexalink">
								<span class="bi bi-arrow-right-short"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

		</section>
	</main>
	{% include './lhm-footer.twig' %}
