<div class="intro intro--blue">
	<div class="container">
		<h1 class="intro__heading">Digitalisierungsstrategie</h1>
		<div class="intro__text">
			<p>Die Digitalisierungsstrategie der Landeshauptstadt München trägt das Leitmotiv München. Digital. Erleben. Erfahren Sie mehr über ihre Vision, Mission und Pinzipien.</p>
		</div>
	</div>
</div>

<div class="intro intro--green">
	<div class="container">
		<h1 class="intro__heading">Digitalisierungsstrategie</h1>
		<div class="intro__text">
			<p>Die Digitalisierungsstrategie der Landeshauptstadt München trägt das Leitmotiv München. Digital. Erleben. Erfahren Sie mehr über ihre Vision, Mission und Pinzipien.</p>
		</div>
	</div>
</div>

<div class="intro intro--turquoise">
	<div class="container">
		<h1 class="intro__heading">Digitalisierungsstrategie</h1>
		<div class="intro__text">
			<p>Die Digitalisierungsstrategie der Landeshauptstadt München trägt das Leitmotiv München. Digital. Erleben. Erfahren Sie mehr über ihre Vision, Mission und Pinzipien.</p>
		</div>
	</div>
</div>
