<footer id="footer" class="footer" aria-label="Footer">
	<div class="container">


		<div class="row column-layout">


			<div class="col-lg-3 col-md-12 col-12">


				<div class="column-body ">


					<div class="row teaser teaser--text teaser--text-vertical  top">
						<div class="img-wrapper "></div>


						<div class="clearfix"></div>
					</div>


				</div>
			</div>


			<div class="col-lg-6 col-md-12 col-12">


				<div class="column-body ">


					<div class="link-list inline">

						<div class="link-list__content">

							<ul class="link-list__list">


								<li class="link-list__list-item">
									<a href="/" class="link-list__link" title="Home">
										<span>Home</span>
									</a>
								</li>

								<li class="link-list__list-item">
									<a href="https://muenchen.digital/impressum/" class="link-list__link" title="Impressum" target="_blank" rel="external noopener noreferrer">
										<span>Impressum</span>
									</a>
								</li>

								<li class="link-list__list-item">
									<a href="https://muenchen.digital/cookie-richtlinie/" class="link-list__link" title="Cookie-Richtlinien" target="_blank" rel="external noopener noreferrer">
										<span>Cookie-Richtlinien</span>
									</a>
								</li>

								<li class="link-list__list-item">
									<a href="https://muenchen.digital/kontakt/" class="link-list__link" title="Kontakt" target="_blank" rel="external noopener noreferrer">
										<span>Kontakt</span>
									</a>
								</li>

								<li class="link-list__list-item">
									<a href="https://muenchen.digital/barrierefreiheit/" class="link-list__link" title="Barrierefreiheit" target="_blank" rel="external noopener noreferrer">
										<span>Barrierefreiheit</span>
									</a>
								</li>
							</ul>
						</div>

					</div>

				</div>
			</div>


			<div class="col-lg-3 col-md-12 col-12">


				<div class="column-body ">


					<div class="link-list inline social-media">

						<div class="link-list__content">
							<p class="link-list__title">Folgen Sie uns auf:</p>

							<ul class="link-list__list">


								<li class="link-list__list-item">
									<a href="https://www.instagram.com/muenchen.digital/" class="link-list__link" title="Instagram, externer Link" target="_blank" rel="external noopener noreferrer">
										<img src="	https://radar.muenchen.digital/dam/jcr:d6dfdf64-696f-44a3-8425-457262370b36/rit-instagram-weiss.svg" alt="">

									</a>
								</li>

								<li class="link-list__list-item">
									<a href="https://twitter.com/MuenchenDigital" class="link-list__link" title="Twitter, externer Link" target="_blank" rel="external noopener noreferrer">
										<img src="	https://radar.muenchen.digital/dam/jcr:0b00d377-9bea-4b0d-b29a-bf370d03c633/rit-twitter-weiss.svg" alt="">

									</a>
								</li>

								<li class="link-list__list-item">
									<a href="https://www.youtube.com/channel/UCkZIh0tBls7FIGTvYPF-H-w" class="link-list__link" title="Youtube, externer Link" target="_blank" rel="external noopener noreferrer">
										<img src="	https://radar.muenchen.digital/dam/jcr:6c92e812-7f6a-4d18-a4ee-03d216a31a3b/rit-youtube-weiss.svg" alt="">

									</a>
								</li>

								<li class="link-list__list-item">
									<a href="https://www.linkedin.com/company/it-referat-muenchen" class="link-list__link" title="Linkedin, externer Link" target="_blank" rel="external noopener noreferrer">
										<img src="	https://radar.muenchen.digital/dam/jcr:9939342b-3e24-4446-bd29-6e6c2daf720a/rit-linkedin-weiss.svg" alt="">

									</a>
								</li>

								<li class="link-list__list-item">
									<a href="https://muenchen.digital/feed/" class="link-list__link" title="Rss, externer Link" target="_blank" rel="external noopener noreferrer">
										<img src="	https://radar.muenchen.digital/dam/jcr:154cbb76-dea9-4b8c-af3c-939ac6ec6101/rit-rss-weiss.svg" alt="">

									</a>
								</li>

								<li class="link-list__list-item">
									<a href="https://service.muenchen.de/intelliform/forms/01/01/01/newsletter/index?newsletter.rit_6=1" class="link-list__link" title="Email Newsletter, externer Link" target="_blank" rel="external noopener noreferrer">
										<img src="	https://radar.muenchen.digital/dam/jcr:f3becf5b-e7d3-4ad2-9a98-d1436c83b6c8/rit-email-weiss.svg" alt="">

									</a>
								</li>
							</ul>
						</div>

					</div>

				</div>
			</div>


			<div class="clearfix"></div>
		</div>


	</div>
</footer>
