<section class="content-section content-section--default" id="youtube-section">

	<div class="section-title-container container">
		<div class="section-title">
			<h2>YouTube mit UserCentrics CMP</h2>
		</div>
	</div>

	<div class="container">

		<div class="youtube-embed component-js-embed" data-embed-type="youtube" data-youtube-id="Y6UeZyHRJxw" data-embed-title="YouTube Video Die WirtshausWiesn beim Augustiner am Dom">
			<div
				class="youtube-embed__body">
				<!-- start: replace with embed -->
				<div class="youtube-embed__consent-dialog oembed-consent-dialog oembed-consent-dialog--youtube">
					<div class="oembed-consent-dialog__pictogram">
						<img class="" src="./pictogram-youtube.svg" alt="Logo YouTube" width="56" height="56">
					</div>
					<h3 class="oembed-consent-dialog__title">Externer Beitrag von YouTube</h3>
					<p class="oembed-consent-dialog__content">
						Ich möchte eingebundene YouTube-Inhalte auf muenchen.digital sehen. Hierbei werden personenbezogene Daten (IP-Adresse und ähnliches) an YoutTube übertragen. Diese Einstellung kann jederzeit mit Wirkung für die Zukunft auf der Seite Datenschutz durch Anklicken des Opt-Out-Buttons geändert werden.</p>
					<div class="oembed-consent-dialog__form">
						<div class="button-wrapper primary">
							<button class="button" target="_blank">
								Beitrag laden
							</button>
						</div>
					</div>
				</div>
				<!-- end: replace with embed -->
				<div class="youtube-embed__video">
					<button class="youtube-embed__play-button">
						<img class="youtube-embed__thumbnail" sizes="(max-width: 598px) 100vw, 598px" src="./video-thumbnail-image.png" srcset="./video-thumbnail-image.png 320w, ./video-thumbnail-image.png 598w" alt="">
						<span class="visually-hidden">YouTube Video abspielen</span>
					</button>
				</div>
				<p class="oembed__caption">Titel des Videos (Pflichtfeld)</p>
				<p class="oembed__bypass">
					<a href="https://www.youtube.com/watch?v=Y6UeZyHRJxw" target="_blank">Video auf YouTube ansehen</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="content-section content-section--default content-section--display" id="youtube-section">

	<div class="section-title-container container">
		<div class="section-title">
			<h2>YouTube mit UserCentrics CMP</h2>
		</div>
	</div>

	<div class="container">

		<div class="youtube-embed component-js-embed" data-embed-type="youtube" data-youtube-id="Y6UeZyHRJxw" data-embed-title="YouTube Video Die WirtshausWiesn beim Augustiner am Dom">
			<div
				class="youtube-embed__body">
				<!-- start: replace with embed -->
				<div class="youtube-embed__consent-dialog oembed-consent-dialog oembed-consent-dialog--youtube">
					<div class="oembed-consent-dialog__pictogram">
						<img class="" src="./img/pictogram-youtube.svg" alt="Logo YouTube" width="56" height="56">
					</div>
					<h3 class="oembed-consent-dialog__title">Externer Beitrag von YouTube</h3>
					<p class="oembed-consent-dialog__content">
						Ich möchte eingebundene YouTube-Inhalte auf muenchen.digital sehen. Hierbei werden personenbezogene Daten (IP-Adresse und ähnliches) an YoutTube übertragen. Diese Einstellung kann jederzeit mit Wirkung für die Zukunft auf der Seite Datenschutz durch Anklicken des Opt-Out-Buttons geändert werden.</p>
					<div class="oembed-consent-dialog__form">
						<div class="button-wrapper primary">
							<button class="button" target="_blank">
								Beitrag laden
							</button>
						</div>
					</div>
				</div>
				<!-- end: replace with embed -->
				<div class="youtube-embed__video">
					<button class="youtube-embed__play-button">
						<img class="youtube-embed__thumbnail" sizes="(max-width: 598px) 100vw, 598px" src="./video-thumbnail-image.png" srcset="./video-thumbnail-image.png 320w, ./video-thumbnail-image.png 598w" alt="">
						<span class="visually-hidden">YouTube Video abspielen</span>
					</button>
				</div>
				<p class="oembed__caption">Titel des Videos (Pflichtfeld)</p>
				<p class="oembed__bypass">
					<a href="https://www.youtube.com/watch?v=Y6UeZyHRJxw" target="_blank">Video auf YouTube ansehen</a>
				</p>
			</div>
		</div>
	</div>
</section>
