<div class="teaser teaser--event">
	<a href="#">
		<span class="screen-reader-text">Ein Jahr neues Arbeiten im Multispace</span>
	</a>
	<div class="head">
		<img src="https://picsum.photos/600/400" alt="Teaser Image">
	</div>
	<div class="content">
		<h3>Ein Jahr neues Arbeiten im Multispace</h3>
		<span class="teaser__date">4. März 2023 |  Rathaus München</span>
		<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
	</div>
</div>
