.accordion {
	/*remove margin*/
	margin-bottom: 60px;

	& > h3 {
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 35px;
	}

	&-item:last-child {
		border-bottom: 1px solid #80d2df;
	}

	&-item > h3 {
		font-size: 26px;
		font-weight: bold;
	}

	&-button::after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Cpath fill='%23000' d='m10.99 20.223 2.945-2.946 11.027 11.027L35.99 17.277l2.947 2.946-12.5 12.5c-.378.377-.898.61-1.474.61a2.077 2.077 0 0 1-1.473-.61l-12.5-12.5Z'/%3E%3C/svg%3E") !important;
		width: 50px;
		height: 50px;
		background-size: 50px;
	}

	&-body a {
		color: #1462ac;
		text-decoration: underline;
	}

	&--turquoise .accordion-header,
	&--turquoise .accordion-item:last-child {
		border-color: #80d2df;
	}

	&--blue .accordion-header,
	&--blue .accordion-item:last-child {
		border-color: #80b1d7;
	}

	&--green .accordion-header,
	&--green .accordion-item:last-child {
		border-color: #c8ead5;
	}
}
