<div class="container">
	<div data-masonry='{"percentPosition": true }' class="row teaser-collection">
		<div class="col-lg-4 col-md-12 col-sm-12">
			<div class="teaser teaser--image">
				<a href="#">
					<span class="screen-reader-text">Digitaler Zwilling</span>
				</a>
				<div class="content">
					<h3>Digitaler Zwilling</h3>
					<p>Der Digitale Zwilling München ist ein auf Daten basierendes, virtuelles Abbild unserer Stadt. Diese digitale Kopie ermöglicht es, den Einsatz neuer Lösungen zu simulieren.</p>
					<a href="#" class="hexalink">
						<span class="bi bi-arrow-right-short"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 col-sm-12">
			<div class="teaser teaser--image">
				<a href="#">
					<span class="screen-reader-text">Projekt Lorem Ipsum</span>
				</a>
				<div class="content">
					<h3>Projekt Lorem Ipsum</h3>
					<p>Teaser-Text (gleich Intro-Text) für die Projektseite. Um die 150 Zeichen. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					</p>
					<a href="#" class="hexalink">
						<span class="bi bi-arrow-right-short"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 col-sm-12">
			<div class="teaser teaser--image">
				<a href="#">
					<span class="screen-reader-text">Noch ein Projekt</span>
				</a>
				<div class="content">
					<h3>Noch ein Projekt</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
					<a href="#" class="hexalink">
						<span class="bi bi-arrow-right-short"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 col-sm-12">
			<div class="teaser teaser--image">
				<a href="#">
					<span class="screen-reader-text">Projekt aus der Praxis</span>
				</a>
				<div class="content">
					<h3>Projekt aus der Praxis</h3>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
					<a href="#" class="hexalink">
						<span class="bi bi-arrow-right-short"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 col-sm-12">
			<div class="teaser teaser--image">
				<a href="#">
					<span class="screen-reader-text">Ein tolles Digitalprojekt</span>
				</a>
				<div class="content">
					<h3>Ein tolles Digitalprojekt</h3>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
					<a href="#" class="hexalink">
						<span class="bi bi-arrow-right-short"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

</div>
