<div class="intro intro--blue">
	<div class="container">
		<h1 class="intro__heading">Digitalisierungsstrategie</h1>
		<div class="intro__text">
			<p>Die Digitalisierungsstrategie der Landeshauptstadt München trägt das Leitmotiv München. Digital. Erleben. Erfahren Sie mehr über ihre Vision, Mission und Pinzipien.</p>
		</div>
	</div>
</div>

<div class="intro intro--green">
	<div class="container">
		<h1 class="intro__heading">Digitalisierungsstrategie</h1>
		<div class="intro__text">
			<p>Die Digitalisierungsstrategie der Landeshauptstadt München trägt das Leitmotiv München. Digital. Erleben. Erfahren Sie mehr über ihre Vision, Mission und Pinzipien.</p>
		</div>
	</div>
</div>

<div class="intro intro--turquoise">
	<div class="container">
		<h1 class="intro__heading">Digitalisierungsstrategie</h1>
		<div class="intro__text">
			<p>Die Digitalisierungsstrategie der Landeshauptstadt München trägt das Leitmotiv München. Digital. Erleben. Erfahren Sie mehr über ihre Vision, Mission und Pinzipien.</p>
		</div>
	</div>
</div>

<div class="intro intro--report">
	<div class="container">
		<span class="intro__date">Februar 2023</span>
		<h1 class="intro__heading">Digitalisierungsstrategie</h1>
		<div class="intro__text">
			<p>Die Digitalisierungsstrategie der Landeshauptstadt München trägt das Leitmotiv München. Digital. Erleben. Erfahren Sie mehr über ihre Vision, Mission und Pinzipien.</p>
		</div>
	</div>
</div>

<div class="intro intro--event">
	<div class="container">
		<h1 class="intro__heading">Digitalisierungsstrategie</h1>
		<span class="intro__date">5. April 2023, 15 Uhr |
			<a href="#">Online-Event</a>
		</span>
		<div class="intro__text">
			<p>Die Digitalisierungsstrategie der Landeshauptstadt München trägt das Leitmotiv München. Digital. Erleben. Erfahren Sie mehr über ihre Vision, Mission und Pinzipien.</p>
		</div>
	</div>
</div>
