<header class="header">
	<a href="#main-content" class="skip-link">Skip to content</a>
	<a href="#footer" class="skip-link">Skip to Footer</a>
	<div class="header--container container">
		<div class="header--logo">
			<a title="RIT - Referat für IT München." href="#">
				<img title="RIT - Referat für IT in München." src="./RIT-Logo_Muenchen.svg" alt="RIT - Referat für IT in München. München. Digital. Erleben.">
			</a>
		</div>

		<div class="header--navigation">
			<nav aria-label="Hauptnavigation">
				<ul class="nav-menu">

					<li class="menu-item">
						<a href="#">Digitalstrategie</a>
					</li>
					<li class="menu-item has-submenu current-menu-item">
						<a href="#" aria-haspopup="true" aria-expanded="false">Wir über uns
							<i class="bi"></i>
						</a>
						<ul>
							<li class="menu-item">
								<a href="#">Lorem</a>
							</li>
							<li class="menu-item has-submenu">
								<a href="#">Ipsum
									<i class="bi"></i>
								</a>
								<ul>
									<li class="menu-item">
										<a href="#">Dolor</a>
									</li>
									<li class="menu-item has-submenu">
										<a href="#">Amet
											<i class="bi"></i>
										</a>
										<ul>
											<li class="menu-item">
												<a href="#">Kontakt</a>
											</li>
											<li class="menu-item">
												<a href="#">Impressum</a>
											</li>
											<li class="menu-item has-submenu">
												<a href="#">Impressum1
													<i class="bi"></i>
												</a>
												<ul>
													<li class="menu-item">
														<a href="#">Kontakt</a>
													</li>
													<li class="menu-item">
														<a href="#">Impressum</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="menu-item">
								<a href="#">Kontak1t</a>
							</li>
							<li class="menu-item">
								<a href="#">Kontakt2</a>
							</li>
							<li class="menu-item has-submenu">
								<a href="#">Kontakt3
									<i class="bi"></i>
								</a>
								<ul>
									<li class="menu-item">
										<a href="#">Kontakt</a>
									</li>
									<li class="menu-item">
										<a href="#">Impressum</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="#">Online-Services</a>
					</li>
					<li class="menu-item">
						<a href="#">Blog</a>
					</li>
					<li class="menu-item has-submenu language">
						<a href="#">IT-Karriere
							<i class="bi"></i>
						</a>
						<ul>
							<li class="menu-item">
								<a href="#">Kontakt</a>
							</li>
							<li class="menu-item has-submenu">
								<a href="#">Impressum
									<i class="bi"></i>
								</a>
								<ul>
									<li class="menu-item">
										<a href="#">Kontakt</a>
									</li>
									<li class="menu-item">
										<a href="#">Impressum</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</nav>

			<div class="mobile-nav">
				<div class="mobile-nav--container">
					<span class="select-page">Seite wählen</span>
					<span class="mobile-menu-toggle" role="button" aria-expanded="false" tabindex="0" aria-haspopup="true" aria-label="Mobile Navigation">
						<span class="first"></span>
						<span class="second"></span>
						<span class="third"></span>
					</span>
					<div aria-modal="false" role="dialog" aria-label="Menü">
						<ul class="mobile-menu" tabindex="-1">
							<div class="menu-header">
								<div class="img-wrapper"></div>
								<button class="close-button">
									<i class="bi"></i>
								</button>
							</div>
							<li class="menu-item active">
								<a href="#" aria-current="page" aria-label="Startseite">
									Startseite
								</a>
							</li>
							<li class="menu-item">
								<a href="#">Digitalstrategie</a>
							</li>
							<li class="menu-item has-submenu">
								<a href="#">Wir über uns
									<i class="bi"></i>
								</a>
								<ul>
									<li class="menu-item">
										<a href="#">Kontakt</a>
									</li>
									<li class="menu-item">
										<a href="#">Impressum</a>
									</li>
								</ul>
							</li>
							<li class="menu-item">
								<a href="#">Online-Services</a>
							</li>
							<li class="menu-item">
								<a href="#">
									Blog
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>


			<div class="search" role="search" aria-label="Webseite durchsuchen - Klick öffnet Eingabefeld">
				<a
					class="inline-search" aria-label="Suchen" href="#suche">
					<!--<span aria-hidden="true">⌕</span>-->
					<i class="bi"></i>
				</a>
				<a class="logo-lhm" rel="external" title="Logo Landeshautpstadt München" target="_blank" href="#">
					<img class="logo-lhm--desktop" src="./logo-lhm.svg" title="Logo Landeshautpstadt München" alt="Logo Landeshautpstadt München">
					<img class="logo-lhm--mobile" src="./muenchner-kindl.svg" title="Logo Landeshautpstadt München" alt="Logo Landeshautpstadt München">
				</a>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</header>
