<div class="slider dynamic-slider has-navigation">
	<div class="slider--container">
		<div class="swiper">
			<div class="swiper-wrapper" data-slidesperview="3" data-slidesperviewtablet="3" data-slidesperviewmobile="1" data-pagination="0" data-navigation="1">
				<div class="swiper-slide">
					<div class="teaser teaser--report">
						<a href="#">
							<span class="screen-reader-text">Ein Jahr neues Arbeiten im Multispace</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/600/500" alt="Teaser Image">
						</div>
						<div class="content">
							<span class="teaser__date">Februar 2023</span>
							<h3>Ein Jahr neues Arbeiten im Multispace</h3>
							<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="teaser teaser--report">
						<a href="#">
							<span class="screen-reader-text">Ein Jahr neues Arbeiten im Multispace</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/700/800" alt="Teaser Image">
						</div>
						<div class="content">
							<span class="teaser__date">Februar 2023</span>
							<h3>Ein Jahr neues Arbeiten im Multispace</h3>
							<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="teaser teaser--report">
						<a href="#">
							<span class="screen-reader-text">Ein Jahr neues Arbeiten im Multispace</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/400/600" alt="Teaser Image">
						</div>
						<div class="content">
							<span class="teaser__date">Februar 2023</span>
							<h3>Ein Jahr neues Arbeiten im Multispace</h3>
							<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="teaser teaser--report">
						<a href="#">
							<span class="screen-reader-text">Ein Jahr neues Arbeiten im Multispace</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/800/500" alt="Teaser Image">
						</div>
						<div class="content">
							<span class="teaser__date">Februar 2023</span>
							<h3>Ein Jahr neues Arbeiten im Multispace</h3>
							<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="teaser teaser--report">
						<a href="#">
							<span class="screen-reader-text">Ein Jahr neues Arbeiten im Multispace</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/500/500" alt="Teaser Image">
						</div>
						<div class="content">
							<span class="teaser__date">Februar 2023</span>
							<h3>Ein Jahr neues Arbeiten im Multispace</h3>
							<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="teaser teaser--report">
						<a href="#">
							<span class="screen-reader-text">Ein Jahr neues Arbeiten im Multispace</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/600/600" alt="Teaser Image">
						</div>
						<div class="content">
							<span class="teaser__date">Februar 2023</span>
							<h3>Ein Jahr neues Arbeiten im Multispace</h3>
							<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="teaser teaser--report">
						<a href="#">
							<span class="screen-reader-text">Ein Jahr neues Arbeiten im Multispace</span>
						</a>
						<div class="head">
							<img src="https://picsum.photos/800/800" alt="Teaser Image">
						</div>
						<div class="content">
							<span class="teaser__date">Februar 2023</span>
							<h3>Ein Jahr neues Arbeiten im Multispace</h3>
							<p>Teaser-Text Lorem Ipsum. Meldung aus stadt.muenchen.de. Titel mit maximal 40, Teaser-Text mit maximal 165 Zeichen.</p>
						</div>
					</div>
				</div>
			</div>
			<span class="swiper-notification"></span>
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>

{#
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div> #}
