<div class="breadcrumb-component ">
	<div class="container">
		<nav aria-label="Navigationspfad" class="breadcrumb">
			<ol class="breadcrumb__list">
				<li class="breadcrumb__list-item">
					<a href="#" class="breadcrumb__list-item-link">
						<svg class="icon-home" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none">
							<path fill="#1462AC" d="m15.093 8.208-6.615-6.5a.676.676 0 0 0-.958 0l-6.614 6.5.957 1.048.914-.898V13.8c0 .387.31.702.695.71h2.786a.71.71 0 0 0 .696-.71V10.178h2.09V13.8c0 .387.31.702.695.71h2.786a.71.71 0 0 0 .696-.71V8.357l.913.899.96-1.048Zm-3.266 4.857h-1.393V9.441a.71.71 0 0 0-.695-.709H6.256a.709.709 0 0 0-.696.723v3.61H4.168V6.99l3.83-3.763 3.83 3.763-.001 6.076Z"/>
						</svg>
						<span class="visually-hidden">Startseite</span>
					</a>
					<span class="breadcrumb__separator" aria-hidden="true">
						<svg class="icon-separator" xmlns="http://www.w3.org/2000/svg" width="6" height="10" fill="none">
							<path fill="#6B6B6B" d="M.943 9.027 0 8.102l3.529-3.463L0 1.177.943.252l4 3.925a.646.646 0 0 1 0 .925l-4 3.925Z"/>
						</svg>
					</span>
				</li>
				<li class="breadcrumb__list-item">
					<a href="#" class="breadcrumb__list-item-link">Unterseite</a>
					<span class="breadcrumb__separator" aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" fill="none">
							<path fill="#6B6B6B" d="M.943 9.027 0 8.102l3.529-3.463L0 1.177.943.252l4 3.925a.646.646 0 0 1 0 .925l-4 3.925Z"/>
						</svg>
					</span>
				</li>
				<li class="breadcrumb__list-item">
					<span class="breadcrumb__list-item-current" aria-current="page">Titel der Unterseite</span>
				</li>
			</ol>
		</nav>

		<div class="breadcrumb-go-back">
			<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="6" height="10" fill="none">
				<path fill="#6B6B6B" d="M.943 9.027 0 8.102l3.529-3.463L0 1.177.943.252l4 3.925a.646.646 0 0 1 0 .925l-4 3.925Z"/>
			</svg>
			<a class="breadcrumb-go-back__link" href="#">
				<span>Elternseite</span>
			</a>
		</div>

	</div>
</div>
