<div class="link-list link-list--content">
	<h2>Showcases: Beispiele für den Praxis-Einsatz</h2>
	<ul>
		<li><a href="#"><span>Showcase 2 Lorem Ipsum</span></a></li>
		<li><a href="#"><span>Ein dritter Showcase mit Titel und Link</span></a></li>
		<li><a href="#"><span>Showcase 4 Lorem Ipsum Link in Linkliste</span></a></li>
		<li><a href="#"><span>Noch ein Showcase</span></a></li>
		<li><a href="#"><span>Link-Titel möglichst aussagekräftig</span></a></li>
	</ul>
</div>
